.body{
    font-family: Tahoma;
    font-size: 16px;
    padding: 5px;
}

.link {
    margin: 15px;
}

.table {
    margin-left: 15px;
    margin-top: 10px;
    border: none;
    width: 100%;
}

.column {
    padding: 5px;

}